.quiz{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);

    &__wrapper{
        width: 600px;
        padding:0 20px;
        margin-top: 100px;
    }
}

.quiz .h1 {
    color: #fff;
}