.quiz__item{
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    border:2px solid #fff;
    border-radius: 10px;
}

.quiz__question{
    display: flex;
    justify-content: space-between;
}