.input{
    margin-bottom: 15px;

    & label {
        margin-bottom: 3px;
        padding: 0;
        display: block;
        font-weight: bold;
    }

    & input{
        display: block;
        box-sizing: border-box;
        border: 1px solid #bebebe;
        padding: 7px;
        margin: 0 0 5px;
        width: 100%;
        transition: all .3 ease-in-out;
    }

    & span {
        color: #f01f30;
        font-size: 12px;
        font-weight: bold;
    }

    &-invalid label {
        color: #f01f30;
    }
    
}