.container{
    margin: 20px auto 50px;
    max-width: 80%;
}

.nav{
    padding: 10px 0;

    &__items{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        margin: 0 10px;
    }

    &__link {
        text-decoration: none;
        color: #444;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #03f;
        font-weight: bold;

        &:hover{
            background: #03f;
            color:#fff;
        }

        &-active{
            background: #03f;
            color:#fff;
        }

    }

    

}