.nav{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #fff;
    z-index: 90;
    transform: translateX(0px);
    transition: transform .2s ease-in; 

    &-close{
        transform: translateX(-300px);
    }

    &__list{
        list-style:none;
        margin: 0;
        padding: 0;
    }

    &__item{
        margin-bottom: 15px;
    }

    &__link{
        padding: 10px;
        cursor: pointer;
        color:#363d54; 
        font-size: 24px;

        &:hover{
            opacity: .7;
        }

        &-active{
            opacity: .7
        }
    }

}