.quizCreator{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-grow: 1;
    width: 100%;
    background: #028AC9;
    background: linear-gradient(#028AC9 0, #611A9C 100%);

    &__container{
        width: 100%;
        max-width: 600px;
        
    }

    & .h1 {
        color: #fff;
        text-align: center;

    }

    &__form{
        background: #eee;
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgba(0,0,0,.5);
        padding: 20px;
    }
}