.Header{
    display: flex;
    justify-content: center;
    height: 100%;
    border-bottom: 1px solid #555;
} 
.header__link{
    padding: 20px;
    margin: 0;
    text-decoration: none;
    font-weight: bold;
    color: #00f
}
.header__link:hover{
    background: #aabbff;
    color: white;
}