.auth{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, rgba(148,187,233,1) 0%, rgba(118,133,222,1) 100%);

    &__container{
        max-width: 600px;
        width: 100%;
        padding: 0 20px;
    }

    & h1 {
        color: #fff;
        text-align: center;
    }

    &__form{
        background: #eee;
        box-shadow: 2px 2px 2px rgba(0,0,0,.5);
        border-radius:5px;
        padding: 20px;
    }
}