.answers__item{
    border: 1px solid #fff;
    border-radius: 5px;
    padding:5px 10px;
    margin: 5px 0;
    cursor: pointer;

    &:hover{
        background: #373fb1;
        transition: background .3s ease-in-out;
    }
}
.success{
    background: rgba(117, 228, 13, 0.623);

    &:hover{
        background: rgba(117, 228, 13, 0.623); 
    }
}
.error{
    background: rgba(228, 13, 31, 0.623);

    &:hover{
        background: rgba(228, 13, 31, 0.623);
    }
}