.finishedQuiz{
    padding: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius:5px;
    box-sizing: border-box;

    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item{

        & i {
            margin-left: 10px;
        }
    }
            
}
.fa-times-error{
    color: rgba(228, 13, 31, 0.623);
}
.fa-check-success{
    color: rgba(117, 228, 13, 0.623);
}
