.layout{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    

    &__main{
        display: flex;
        flex-grow:1;
        width: 100%;
    }


}