.menuToggle{
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    transition: opacity, left .2s ease-in;
    z-index: 100;

    &:hover{
        opacity: .7;
    }

    &-open{
        left: 320px;
    }
}