.quizList{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top:100px;
    flex-grow:1;
    background: linear-gradient(90deg, #fd8355 0%, #f0576c 37%, #f79cbd 100%);

    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
        
    }

    &__item{
        margin-bottom: 5px;
    }

    &__link{
        text-decoration: none;
        color:#fff;
        font-weight: bold;

        &:hover{
            color:#363f54;
        }
    }

    &__h1{
        color: #fff;
    }

}