.select{
    margin-bottom: 15px;

    & label {
        margin: 0 0 3px 0;
        padding: 0; 
        font-weight: bold;
        display: block;
    }
 
    & select{
        box-sizing: border-box;
        border: 1px solid #bebebe;
        display: block;
        margin: 0 0 5px;
        height: 20px;
        width: 100%;
        outline: none;
        transition: all .3s ease-in-out
    }

    & option {
        height: 15px;
    }

}