.cars{
    
    &__button{
        padding: 10px 15px;
        margin: 15px auto;
        border-radius: 5px;
        border: 2px solid rgb(19,10,177);
        font-weight: bold;
        text-transform: uppercase;
        background: #ffffff;


        &:focus, &:active{
            outline: none;
        }

        &:hover{
            background: rgb(19,10,177);
            background: linear-gradient(0deg, rgba(19,10,177,1) 0%, rgba(5,58,230,1) 100%);
            color:#fff;
            cursor: pointer;
        }
    }

    &__items{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 15px 0;
    }

    &__item{
        width: calc(50% - 30px);
        margin: 5px;
        box-sizing:border-box;
        border: 1px solid rgba(0,0,0,.4);
        display:block;
        padding:10px;
        border-radius: 5px;
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,.14);
        transition: all .3s ease-in-out;

        &:hover{
            box-shadow: 0px 4px 7px 0px rgba(0,0,0,.4); 
        }
    }

    &__input{

        &:active, &:focus{
            outline: none;
        }

        &-green{
            border: 1px solid green;
        }

        &-green2x{
            border: 2px solid green;
            
        }

        &-red{
            border:1px solid red;
        }
    }
}