.button{
    display: inline-block;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;

    &:hover{
        background: #fff;
        color: #5041b2;
        transition: all .2s ease-in-out
        
    }
    &:focus{
        outline: 0;
    }

    &:active{

    }

    &:disabled{
        background: #ccc;
        color:#000;
        cursor: not-allowed;
    }

}

.btn-primary{
    background: rgb(40, 64, 202);
    color: #fff;
}

.btn-success{
    background: rgb(71, 230, 40);
    color: #000;
}