.clothesTables{

    &__items{
        display: flex;
    }
    
    &__item{
        margin-right: 50px;
    }

    &__table{

        & thead{
            background: #0ff;
        }

        &_category{
            font-weight: bold;
            text-align: center;
            background:#05f;
            color: #fff
        }

    }
}